aside {
  background-color: cornflowerblue;
  min-height: 100vh;

  p {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    text-align: center;
  }

  button {
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
    height: 25px;
    font-family: 'Raleway', sans-serif;
    margin: 0 15%;
    transition-duration: 1s;
    width: 175px;
    
    &:hover {
      background-color: lightgrey;
    }
  }
}